body {
  text-align: center;
  margin: 5px;
}

p {
  margin-top: 30px;
  font-size: larger;
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

#btn {
  margin-top: 30px;
}

#result {
  margin-top: 50px;
  font-size: 300%;
}